{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
    {% block css %}
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css"
              href="{% static 'css/style.css' %}">
    {% endblock %}
    {% block js %}
        <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
    {% endblock %}
</head>

<body>
{% block menu %}
    <div id="header">
        {% include 'main/includes/inc_header.html' %}
        {% include 'main/includes/inc_menu.html' %}
    </div>
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    <div class="footer" id="footer">
        <div class="text-center">
            © {% now "Y" %} PalisWood
            <a class="text-black-50 btn" href="#">Политика
                конфиденциальности</a>
        </div>
    </div>
{% endblock %}
</body>
</html>
