{% load static %}

<div class="header">
    <div class="row">
        <div class="col-9">
            {% if user.is_staff %}
                <a href="{% url 'admin:index' %}">
            {% else %}
                <a href="{% url 'main:index' %}">
            {% endif %}
            <img class="label" src="{% static 'img/label.png' %}"
                 alt="">
            </a>
        </div>
        <div class="col-1 social">
            <a href="tel:{{ social.phone }}">
                <img src="{% static 'img/phone.png' %}" alt="">
            </a>
        </div>
        <div class="col-1 social">
            <a target="_blank" href="{{ social.vk }}">
                <img src="{% static 'img/vkontakte.png' %}" alt="">
            </a>
        </div>
        <div class="col-1 social">
            <a target="_blank" href="https://t.me/{{ social.telegram }}">
                <img src="{% static 'img/telegram.png' %}" alt="">
            </a>
        </div>
        <div class="col-1 social">
            <a target="_blank" href="{{ social.youtube }}">
                <img src="{% static 'img/youtube.png' %}" alt="">
            </a>
        </div>
        <div class="col-1 social">
            <a target="_blank" href="https://wa.me/{{ social.whatsapp }}">
                <img src="{% static 'img/whatsapp.png' %}" alt="">
            </a>
        </div>
        <div class="col-1 social">
            <a target="_blank" href="mailto:{{ social.email }}">
                <img src="{% static 'img/email.png' %}" alt="">
            </a>
        </div>
        <div class="row">
            <div class="col-11"></div>
            <div class="col-1 social">
                {% if not user.is_authenticated %}
                <a href="{% url 'auth_app:login' %}">
                    <img src="{% static 'img/user.png' %}" alt="">
                </a>
                {% else %}
                    <a href="{% url 'auth_app:cabinet' %}">
                    <img src="{% static 'img/profile.png' %}" alt="">
                </a>
                {% endif %}
            </div>
            <div class="col-1 social">
                <a href="#">
                    <img src="{% static 'img/basket.png' %}" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
